@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Roboto:wght@300;400;500;700&display=swap');

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
        5.1 Mobile
        5.2 Desktop
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

:root {
    --white: #fff;
    --purple: #5722CD;
    --blue: #4845E4;
    --pink: #ED4385;
    --black: #0C0C0C;
    --lightpurple: #F2F0FF;
    --lightgray: #F3F6F9;
    --gray: #7A7A7A;
}

/* ------------------------------- 2. Typography ----------------------------------- */

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    margin-bottom: 10px;
}

h1, h2 {
    font-size: 2rem;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: normal;
}

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

.outer-container {
    display: flex;
    justify-content: center;
}

.inner-container {
    display: flex;
    flex-direction: column;
    flex-basis: 900px;
    justify-content: flex-start;
    align-items: center;
}

.aside {
    flex-basis: 1000px;
    flex-shrink: 3;
}

/* ------------------ BONUS OPDRACHT ------------------- */

.triangle-top {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 0 0 100vw;
    border-color: transparent transparent transparent var(--white);
    margin-top: -40px;
}

.triangle-bottom {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100vw 40px 0;
    border-color: transparent var(--white) transparent transparent;
    margin-top: -40px;
}

.background-words {
    padding-top: 100px;
}

.wrapper {
    background-color: var(--purple);
    background-image: url("../assets/noise-texture.png"); /* BONUS OPDRACHT */
}

/*.background-words {
    position: absolute;
    color: var(--lightpurple);
    z-index: -1;
    font-size: calc(100vw / 5);
}*/

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

header {
    color: #fff;
}

nav {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin-right: 20px;
    gap: 20px;
}

nav li {
    padding: 10px;
}

.header {
    text-align: center;
    padding: 2rem;
}

header button {
    color: #fff;
    padding: 15px;
    margin: 30px;
    background-color: var(--pink);
    border-radius: 3rem;
    text-align: center;
}

.inner-teaser p {
    padding-top: 3rem;
}

.stripe {
    width: 50px;
}

/* --------------- 4.2 Introduction ------------------- */

.inner-intro {
    padding-inline: 70px;
    padding-top: 100px;
    padding-bottom: 70px;
    text-align: center;
}

.inner-intro h3 {
    color: var(--purple);
    padding: 10px;
}

.inner-intro p {
    padding-top: 40px;
}

.inner-intro a {
    text-decoration: none;
    color: var(--purple);
}

/* --------------- 4.3 Work --------------------------- */

.work-tekst {
    text-align: left;
    width: 80%;
    padding: 2rem;
}

.image img {
    width: 100%;
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.2)
}

.image {
    flex-basis: auto;
    width: 100%;
    flex-grow: 2;
}

.line {
    width: 50px;
    padding-block: 20px;
}

.work-tekst p {
    padding-bottom: 20px;
}

.view-project {
    color: var(--purple);
    font-size: 0.7rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

/* --------------- 4.4 Sevices ------------------------ */

.inner-container-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 900px;
    padding-inline: 20px;
    padding-top: 100px; /* deze waarde is voor desktop @media aangepast */
    padding-bottom: 50px;
    margin: 2rem;
}

/* --------------- 4.5 Form --------------------------- */

#contact {
    color: #fff;
    padding-top: 20px;
}

.form {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

label {
    font-weight: bold;
}

input {
    padding: 10px;
    margin-bottom: 20px;
}

.form p {
    text-align: center;
}

#message {
    padding-bottom: 100px;
}

/* --------------- 4.6 Footer ------------------------- */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    padding: 15px;
    background-color: var(--black);
}

footer p {
    font-size: 0.8rem;
}

/* ------------------------------- 5. Media Queries -------------------------------- */

/* Alles wat men buiten de media query specificeert, geldt dan voor mobiele apparaten */

/* --------------- 5.1 Mobile --------------------------- */

p {
    font-size: 16px;
}

/* --------------- 5.1.1 Work --------------------------- */

#work {
    position: relative;
    background-color: var(--lightgray);
    padding-block: 50px;
    z-index: -2;
}

.work {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    padding: 1rem;
}

/* --------------- 5.1.2 Sevices ------------------------ */

.excerpt {
    width: 400px;
    height: 400px;
    padding: 35px;
    margin: 20px;
    font-size: 12px;
    text-align: left;
    background-color: var(--white);
    border: 1px solid var(--purple);
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2)
}

.excerpt p {
    font-size: 1rem;
}

.icon {
    width: 100px;
    height: 100px;
}

h4 {
    color: var(--purple);
    font-size: 1.5rem;
}

/* --------------- 5.1.2 Background words --------------- */

#hello::before {
    content: "hello";
    display: block;
    color: var(--lightpurple);
    z-index: -1;
    font-size: 10rem;
    margin-top: 0;
    font-weight: bold;
    position: absolute;
}

#work::before {
    content: "work";
    display: block;
    color: var(--lightpurple);
    z-index: -1;
    font-size: 10rem;
    margin-top: -30px;
    font-weight: bold;
    position: absolute;
}

#services::before {
    content: "services";
    display: block;
    color: var(--lightpurple);
    z-index: -1;
    font-size: 7rem;
    margin-top: -80px;
    font-weight: bold;
    position: absolute;
}

/* Minimaal 576px betekend regels die gelden voor tablets */

@media screen and (min-width: 576px) {
    p {
        font-size: 14px;
    }

    /* --------------- 5.2.1 Work --------------------------- */

    #work {
        position: relative;
        padding-block: 50px;
    }

    .work {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        /*margin: 10px;*/
    }

    .work:nth-of-type(2) {
        display: flex;
        flex-direction: row-reverse;
    }

    /* --------------- 5.2.2 Sevices ------------------------ */

    .excerpt {
        width: 250px;
        height: 250px;
        padding: 25px;
        margin: 10px;
        font-size: 12px;
        text-align: left;
        border: 1px solid var(--purple);
        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2)
    }

    .excerpt p {
        font-size: 0.7rem;
    }

    .icon {
        width: 50px;
        height: 50px;
    }

    h4 {
        color: var(--purple);
        font-size: 1rem;
    }

    /* --------------- 5.2.2 Background words --------------- */

    #hello::before {
        font-size: 15rem;
        margin-top: -20px;
    }

    #work::before {
        font-size: 15rem;
        margin-top: -50px;
    }

    #services::before {
        font-size: 10rem;
        margin-top: -120px;
    }
}

/* Minimaal 992px betekend regels die gelden voor desktops */


@media screen and (min-width: 992px) {

    #work {
        padding-block: 100px;
    }

    .inner-container-services {
        padding-top: 120px;
    }

    #hello::before {
        font-size: 20rem;
        margin-top: -20px;
    }

    #work::before {
        font-size: 20rem;
        margin-top: -100px;
    }

    #services::before {
        font-size: 15rem;
        margin-top: -150px;
    }
}
